/*--
/*  4.12 - Video CSS
/*----------------------------------------*/

// Video Wrapper 
.video-weapper{}

// Video Image
.video-image{ 
    box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);          
    overflow: hidden;
    border-radius: 67px;

    @media #{$large-mobile}{
        border-radius: 30px;
    }   
    
    & img{
        width: 100%;
        
    }
}

// Video Content
.video-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;

    & .video-play{
        font-size: 20px;
        font-weight: 700;
        color: $primary;
        letter-spacing: 1px;
        margin-top: 20px;

        @media #{$large-mobile}{
            font-size: 16px;
        }
        @media #{$small-mobile}{
            font-size: 14px;
        }
        
        & .icon{
            width: 50px;
            height: 50px;
            line-height: 44px;
            border: 3px solid $primary;
            border-radius: 50%;
            font-size: 16px;
            color: $primary;
            display: inline-block;
            text-align: center;
            margin-right: 10px;

            @media #{$large-mobile}{
                width: 45px;
                height: 45px;
                line-height: 41px;
            }
            @media #{$small-mobile}{
                width: 35px;
                height: 35px;
                line-height: 31px;
                font-size: 14px;
                margin-right: 5px;
            }
        }
    }
    & .title{
        font-size: 28px;
        font-weight: 700;
        line-height: 1.4;
        position: relative;
        padding-left: 25px;
        margin-left: 25px;
        margin-top: 20px;

        @media #{$small-mobile}{
            font-size: 18px;
            margin-left: 15px;
            padding-left: 15px;
        }

        &::before{
            position: absolute;
            content: '';
            height: 38px;
            width: 1px;
            background-color: $primary;
            top: 0;
            left: 0;

            @media #{$small-mobile}{
                height: 24px;                    
            }
        }
    }
}

// Video Active
.video-active{
    & .swiper-container{
        margin-left: -35px;
        margin-right: -35px;
    }
    
    & .swiper-slide{
        padding: 0 35px;
    }

    & .swiper-button{
        position: absolute;
        bottom: 6px;
        right: 0px;
        padding: 0 20px;
        display: flex;
        justify-content: flex-end;
    }

    & .swiper-button-prev,
    & .swiper-button-next{
        font-size: 16px;
        margin: 0 10px;
        color: $body-color;
        bottom: 0;
        top: auto;
        outline: none;
        right: 0;
        left: 0;
        position: relative;
        height: auto;
        width: auto;

        &::after{
            display: none;
        }
        & i{
            margin: 0 5px;
        }

        &.swiper-button-disabled{
            display: none;
        }
    }
    & .swiper-button-prev{
        
    }
}









